@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    background: #fff;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}
.logo{
    margin-top: 20px;
}
.signIn-container{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 15px;
    padding: 15px 25px;
    border-radius: 8px;
    text-align: left;
}
.signIn-title{
    font-size: 28px;
    font-weight: 400;
}
.input-label{
    margin-top: 15px;
}
.signIn-container input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12;
}
.signIn-container input:focus{
    outline: 3px solid #c2f2ff;
}
.signIn-container button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.signIn-container button:hover{
    background: #ebc712;
}
.signIn-condition{
    font-size: 12px;
}
.signIn-container p span{
    color: #0066c0;
}
.signIn-help{
    font-size: 13px;
    margin: 15px 0;
}
.signIn-container hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
}
.signIn-container h4{
    margin: 15px 0;
    font-size: 13px ;
}
.signIn-business{
    font-size: 13px;
}
.signIn-bottom{
    width: 350px;
    font-size: 13px;
    color: #737373;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.signIn-bottom hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
    width: 110px;
}
.signIn-signUp-btn{
    width: 350px;
    height: 30px;
    font-size: 13px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
.signIn-signUp-btn:hover{
    background: #f1f1f1;
}
footer{
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 20px;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #f4f4f4, #fff);
    border: 2px solid #ededed;
    font-size: 12px;
}
footer .footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}
footer .footer-links a{
    text-decoration: none;
    color: #0066c0;
}
